In [1]:
import numpy as np
import pandas as pd

import pickle

ModuleNotFoundError: No module named 'numpy'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
import os
print(os.listdir(("/content/drive/My Drive/datasets")))

['iot_device_classification.csv', 'cleandata.csv', 'employeeability.csv']

In [ ]:
df = pd.read_csv('/content/drive/My Drive/datasets/iot_device_classification.csv',nrows=1000000)

<ipython-input-4-b0d5ab7babbc>:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/My Drive/datasets/iot_device_classification.csv',nrows=1000000)

In [ ]:
df.head()

,FIRST_SWITCHED,IN_BYTES,IN_PKTS,IPV4_DST_ADDR,L4_DST_PORT,L4_SRC_PORT,LAST_SWITCHED,PROTOCOL,SRC_TOS,TCP_FLAGS,...,SRC_AS,DST_AS,INPUT_SNMP,OUTPUT_SNMP,IPV4_SRC_ADDR,MAC,category,type,date,inter_arrival_time
0,1.579047e+09,240.0,4.0,52.9.239.18,5222.0,3696.0,1.579043e+09,6.0,0.0,2.0,...,0.0,0.0,6.0,1.0,192.168.1.227,00:16:6C:7F:82:21,IoT,IoT,2020-01-15,1.579048e+09
1,1.579047e+09,76.0,1.0,203.95.213.129,123.0,4039.0,1.579043e+09,17.0,0.0,0.0,...,0.0,0.0,6.0,1.0,192.168.1.227,00:16:6C:7F:82:21,IoT,IoT,2020-01-15,2.100000e+01
2,1.579047e+09,120.0,2.0,54.177.192.42,5222.0,3661.0,1.579043e+09,6.0,0.0,2.0,...,0.0,0.0,6.0,1.0,192.168.1.227,00:16:6C:7F:82:21,IoT,IoT,2020-01-15,1.000000e+01
3,1.579047e+09,76.0,1.0,192.36.143.130,123.0,4040.0,1.579043e+09,17.0,0.0,0.0,...,0.0,0.0,6.0,1.0,192.168.1.227,00:16:6C:7F:82:21,IoT,IoT,2020-01-15,2.000000e+01
4,1.579047e+09,60.0,1.0,54.177.192.42,5222.0,3661.0,1.579043e+09,6.0,0.0,2.0,...,0.0,0.0,6.0,1.0,192.168.1.227,00:16:6C:7F:82:21,IoT,IoT,2020-01-15,1.000000e+00

In [ ]:
df["device_model"].unique()

array(['webcam.Samsung.SNH-1011N', 'laptop.Dell.Latitude_7400',
       'light_bulb.TP_Link.LB130', 'laptop.Dell.Latitude_E6430',
       'speaker.Sonos.One', 'doorbell.Amazon.Ring',
       'access_point.TP_Link.TL-WA901ND', 'webcam.Amcrest.IPM-721W',
       'smartphone.Samsung.Galaxy_Note_5', 'socket.Wemo.Insight'],
      dtype=object)

In [ ]:
df["category"].unique()

array(['IoT', 'Non-IoT'], dtype=object)

In [ ]:
X=df.drop(['FIRST_SWITCHED','IN_PKTS','IPV4_DST_ADDR','L4_DST_PORT','L4_SRC_PORT','LAST_SWITCHED','SRC_TOS','TCP_FLAGS','DURATION','device_model','partition','SRC_AS','DST_AS','INPUT_SNMP','category','type','date','inter_arrival_time','OUTPUT_SNMP'], axis=1)

In [ ]:
Y=df[["category"]]

In [ ]:
Y["category"].unique()

array(['IoT', 'Non-IoT'], dtype=object)

In [ ]:
Z= df[["device_model"]]

In [ ]:
Z.head()

               device_model
0  webcam.Samsung.SNH-1011N
1  webcam.Samsung.SNH-1011N
2  webcam.Samsung.SNH-1011N
3  webcam.Samsung.SNH-1011N
4  webcam.Samsung.SNH-1011N

In [ ]:
X.head()

   IN_BYTES  PROTOCOL          IP  IPV4_SRC_ADDR                MAC
0     240.0       6.0          52  192.168.1.227  00:16:6C:7F:82:21
1      76.0      17.0  203.95.213  192.168.1.227  00:16:6C:7F:82:21
2     120.0       6.0          54  192.168.1.227  00:16:6C:7F:82:21
3      76.0      17.0  192.36.143  192.168.1.227  00:16:6C:7F:82:21
4      60.0       6.0          54  192.168.1.227  00:16:6C:7F:82:21

In [ ]:
ipunique = X["IP"]
IPV4_SRC_ADDRunique = X["IPV4_SRC_ADDR"]
macunique=X["MAC"]
IN_BYTESunique = X["IN_BYTES"]
PROTOCOLunique = X["PROTOCOL"]
categoryunique = Y["category"]
devicecmodelunique = df["device_model"]

In [ ]:
# Using Series.astype() to convert to string 
X["IN_BYTES"] = X["IN_BYTES"].apply(lambda x: str(x))
X["PROTOCOL"] = X["PROTOCOL"].apply(lambda x: str(x))
X["IP"] = X["IP"].apply(lambda x: str(x))
X["IPV4_SRC_ADDR"] = X["IPV4_SRC_ADDR"].apply(lambda x: str(x))
X["MAC"] = X["MAC"].apply(lambda x: str(x))
from sklearn import preprocessing
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
X["IN_BYTES"] = label_encoder.fit_transform(X['IN_BYTES'])
X["PROTOCOL"] = label_encoder.fit_transform(X['PROTOCOL'])
X['IP']= label_encoder.fit_transform(X['IP'])
X['IPV4_SRC_ADDR']= label_encoder.fit_transform(X['IPV4_SRC_ADDR'])
X['MAC']= label_encoder.fit_transform(X['MAC'])

In [ ]:
Y["category"] = Y["category"].apply(lambda x: str(x))
Y['category']= label_encoder.fit_transform(Y['category'])

#Y["categories"] = Y["categories"] .astype('category')

<ipython-input-17-ff0d8c7c40f7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y["category"] = Y["category"].apply(lambda x: str(x))
<ipython-input-17-ff0d8c7c40f7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y['category']= label_encoder.fit_transform(Y['category'])

In [ ]:
Z["device_model"] = Z["device_model"].apply(lambda x: str(x))
Z['device_model']= label_encoder.fit_transform(Z['device_model'])

<ipython-input-18-2c4df70946f9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Z["device_model"] = Z["device_model"].apply(lambda x: str(x))
<ipython-input-18-2c4df70946f9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Z['device_model']= label_encoder.fit_transform(Z['device_model'])

In [ ]:
Z.shape

(1000000, 1)

In [ ]:
X.head()

   IN_BYTES  PROTOCOL   IP  IPV4_SRC_ADDR  MAC
0      2313         2  807             10    0
1      6363         1  584             10    0
2       450         2  809             10    0
3      6363         1  338             10    0
4      5581         2  809             10    0

In [ ]:
Y["category"].unique()

array([0, 1])

In [ ]:
df = pd.DataFrame() if not os.path.exists("/content/drive/My Drive/datasets/cleandata.csv") else pd.read_csv("/content/drive/My Drive/datasets/cleandata.csv", sep='|')

dict = {
    "IN_BYTESunique":IN_BYTESunique,
    "PROTOCOLunique":PROTOCOLunique,
   "IPunique":ipunique,
    "IPV4_SRC_ADDRunique": IPV4_SRC_ADDRunique,
    "MACunique": macunique,
    "IPencoded":X["IP"],
    "IPV4_SRC_ADDRencoded":X["IPV4_SRC_ADDR"],
    "MACencoded":X["MAC"],
    "devicecmodelunique":devicecmodelunique,
    "devicemodelencoded":Z["device_model"],
    "categoryunique":categoryunique,
    "categoryencoded":Y["category"]

}

In [ ]:
df = pd.DataFrame(dict)

In [ ]:
# Write DataFrame to CSV File with Default params.
df.to_csv("/content/drive/My Drive/datasets/cleandata.csv")

In [ ]:
df2 = pd.read_csv('/content/drive/My Drive/datasets/cleandata.csv',nrows=1000000)

<ipython-input-25-46ba1ef1e855>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('/content/drive/My Drive/datasets/cleandata.csv',nrows=1000000)

In [ ]:
df2.head()

,Unnamed: 0,IN_BYTESunique,PROTOCOLunique,IPunique,IPV4_SRC_ADDRunique,MACunique,IPencoded,IPV4_SRC_ADDRencoded,MACencoded,devicecmodelunique,devicemodelencoded,categoryunique,categoryencoded
0,0,240.0,6.0,52,192.168.1.227,00:16:6C:7F:82:21,807,10,0,webcam.Samsung.SNH-1011N,9,IoT,0
1,1,76.0,17.0,203.95.213,192.168.1.227,00:16:6C:7F:82:21,584,10,0,webcam.Samsung.SNH-1011N,9,IoT,0
2,2,120.0,6.0,54,192.168.1.227,00:16:6C:7F:82:21,809,10,0,webcam.Samsung.SNH-1011N,9,IoT,0
3,3,76.0,17.0,192.36.143,192.168.1.227,00:16:6C:7F:82:21,338,10,0,webcam.Samsung.SNH-1011N,9,IoT,0
4,4,60.0,6.0,54,192.168.1.227,00:16:6C:7F:82:21,809,10,0,webcam.Samsung.SNH-1011N,9,IoT,0

In [ ]:
Y.shape

(1000000, 1)

In [ ]:
X.shape

(1000000, 5)

In [ ]:
from sklearn.model_selection import train_test_split

predictors = X
target = Y

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.20,random_state=0)

In [ ]:
Y_train.tail()

        category
963395         0
117952         0
435829         0
305711         0
985772         0

In [ ]:
X_test.tail()

        IN_BYTES  PROTOCOL   IP  IPV4_SRC_ADDR  MAC
957385      6363         1   34              6    9
872294      1321         1  793              9    7
295258      6717         2  809              0    2
568161      1331         1  793              9    7
275332      6717         2  810              0    2

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

lr.fit(X_train,Y_train)

Y_pred_lr = lr.predict(X_test)

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
Y_pred_lr.shape

(200000,)

In [ ]:
score_lr = round(accuracy_score(Y_pred_lr,Y_test)*100,2)

print("The accuracy score achieved using Logistic Regression is: "+str(score_lr)+" %")

The accuracy score achieved using Logistic Regression is: 95.14 %

In [ ]:
# Save the trained model as a pickle string.
pickle.dump(lr,open('lr.pkl','wb'))

In [ ]:
Y_pred_lr= lr.predict([[6180,6,152,5,1]])
if Y_pred_lr[0]==1:
  print("Non_IOT")
else:
  print("IOT")

Non_IOT

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [ ]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()

nb.fit(X_train,Y_train)

Y_pred_nb = nb.predict(X_test)

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
Y_pred_nb.shape

(200000,)

In [ ]:
score_nb = round(accuracy_score(Y_pred_nb,Y_test)*100,2)

print("The accuracy score achieved using Naive Bayes is: "+str(score_nb)+" %")

The accuracy score achieved using Naive Bayes is: 94.76 %

In [ ]:
# Save the trained model as a pickle string.
pickle.dump(nb,open('nb.pkl','wb'))

In [ ]:
Y_pred_lr= nb.predict([[6180,6,152,5,1]])
if Y_pred_lr[0]==1:
  print("Non_IOT")
else:
  print("IOT")

IOT

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train,Y_train)
Y_pred_knn=knn.predict(X_test)

/usr/local/lib/python3.9/dist-packages/sklearn/neighbors/_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [ ]:
score_knn = round(accuracy_score(Y_pred_knn,Y_test)*100,2)

print("The accuracy score achieved using KNN is: "+str(score_knn)+" %")

The accuracy score achieved using KNN is: 99.95 %

In [ ]:
Y_pred_lr= knn.predict([[6180,6,152,5,1]])
if Y_pred_lr[0]==1:
  print("Non_IOT")
else:
  print("IOT")

Non_IOT

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [ ]:
# Save the trained model as a pickle string.
pickle.dump(knn,open('knn.pkl','wb'))

In [ ]:
from sklearn.ensemble import RandomForestClassifier  
classifier= RandomForestClassifier(n_estimators= 2, criterion="entropy")  
classifier.fit(X_train, Y_train)
Y_predRF = classifier.predict(X_test)

<ipython-input-49-627c756fb38d>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, Y_train)

In [ ]:
score_knn = round(accuracy_score(Y_predRF,Y_test)*100,2)

print("The accuracy score achieved using RandomForest is: "+str(score_knn)+" %")

The accuracy score achieved using RandomForest is: 100.0 %

In [ ]:
# Save the trained model as a pickle string.
pickle.dump(classifier,open('randomf.pkl','wb'))

In [ ]:
Y_pred_lr= classifier.predict([[88,6,807,0,2]])
if Y_pred_lr[0]==1:
  print("Non_IOT")
else:
  print("IOT")

Non_IOT

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [ ]:
from sklearn.tree import DecisionTreeClassifier  
dtclassifier= DecisionTreeClassifier(criterion='entropy', random_state=0)  
dtclassifier.fit(X_train, Y_train) 
Y_predDT = dtclassifier.predict(X_test)

In [ ]:
score_knn = round(accuracy_score(Y_predDT,Y_test)*100,2)

print("The accuracy score achieved using RandomForest is: "+str(score_knn)+" %")

The accuracy score achieved using RandomForest is: 100.0 %

In [ ]:
# Save the trained model as a pickle string.
pickle.dump(dtclassifier,open('dt.pkl','wb'))

In [ ]:
Y_pred_lr= dtclassifier.predict([[88,6,807,0,2]])
if Y_pred_lr[0]==1:
  print("Non_IOT")
else:
  print("IOT")

IOT

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(